<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2023 WPS - Workplace Solutions GmbH
  ~
  ~ Licensed under the EUPL, Version 1.2 or as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
  ~
  ~ You may not use this work except in compliance with the Licence.
  ~ You may obtain a copy of the Licence at:
  ~
  ~ https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the Licence for the specific language governing permissions and limitations under the Licence.
  -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <!--  Macht Archunit leiser  -->
    <logger name="com.tngtech.archunit" level="WARN"/>
    <!--  Setzt Spring & hibernate logging-level in der Gitlab-PIPELINE(!), siehe gitlab-ci.yaml -->
    <logger name="org.springframework" level="${SPRING_LOG_LEVEL:-INFO}"/>
    <logger name="org.hibernate" level="${HIBERNATE_LOG_LEVEL:-INFO}"/>
</configuration>
